body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 170px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding: 70px 0;
  color: #10408F;
}

.image-box {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  padding-top: 10px;
}
